.content_grid {
  display: grid;
  background-color: #f6c25c;
  padding: 10px;
  grid-gap: 30px;
  padding-bottom: 50px;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "content content content content content content content"
}

  .content_grid > p {
    grid-row: 1;
    grid-column: 2 / span 5;
    background-color: #f6c25c;
    padding: 5px 5px 5px 5px;
    font-family: Candara;
    font-size: 23px;
    color: #1e2125;
  }

  .content_grid > form {
    grid-column: 2 / span 5;
    grid-row: auto;
    background-color: #f6c25c;
  }

  .content_grid > form > fieldset {
    background-color: #cce85f;
    padding: 45px;
    border: 5px solid #b6ff00;
    border-radius: 25px;
    font-family: Candara;
    font-size: 23px;
  }

  .content_grid > form > fieldset > div > label {
    font-family: Candara;
    font-size: 25px;
    padding: 0px 10px;
    width: auto;
    height: auto;
  }

  .content_grid > form > fieldset > div > input {
    font-family: Candara;
    font-size: 18px;
    width: auto;
    height: auto;
  }

  .content_grid > form > fieldset > button {
    background-color: #51a8fd;
    font-family: Candara;
    font-size: 25px;
    padding: 3px 10px;
    width: auto;
    height: auto;
    border-color: #f2e350;
    border: 5px medium;
    border-radius: 5px;
  }

  .content_grid > form > fieldset > * {
    display: inline-block;
    padding: 10px 20px;
  }

  .content_grid > form > fieldset > legend {
    font-family: Candara;
    font-size: 24px;
    padding: 5px 5px;
  }

